//
   Created by cuijiabin on 2016/7/4.
extends layout
block content

    h1.
        #{list}
    ul
        each user, i in userlist
            li
                a(href="mailto:#{user.email}")= user.username

